<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-md-10 offset-md-1">
            <div style="text-align: justify;">
                <div>
                    <h2>{{event.name}}</h2>
                </div>
                <div class="text-right" style="float: right;">
                    <div style="font-size: x-small;"><b>Starts at : {{event.startTime | eventDate}}</b></div>
                    <div style="font-size: x-small;"><b>Ends at : {{event.endTime | eventDate}}</b></div>
                </div>
                <div>
                    <div>
                        <img [src]="event.imgUrl" class="img img-fluid rounded"
                        style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
                    </div>
                    <div [innerHTML]="event.description"></div> 
                </div>
            </div>
        </div>
    </div>
</div>