<div class="container-fluid" style="margin-bottom: 10%; margin-top: 20%;">
  <div class="col-md-10" >
    <div class="card-column"><!-- top: 0; bottom: 0; position: fixed; overflow-y: scroll;-->
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-light">Donation</div>
        <div class="card-body">
            <div class="mb-3">Make a difference by Donating to us.</div>
            <button class="btn btn-primary">Donate Now</button>
        </div>
      </div>
  
      <div class="card border-dark mb-3">
        <div class="card-header bg-dark"><a  class="text-light" [routerLink]="['/blogs']">Recent Blogs</a></div>
        <div class="card-body">
            <ul *ngFor="let b of blogs; let i=index" class="list">
                <li *ngIf="i<3"><a class="text-dark" [href]="['/blogs/'+b.blogId]">{{b.title}}</a></li>
            </ul>
        </div>
      </div>
  
      <div class="card border-dark mb-3">
        <div class="card-header bg-dark"><a  class="text-light" [routerLink]="['/events']">Upcoming Events</a></div>
        <div class="card-body">
            <ul *ngFor="let e of upComingEvents; let i=index" class="list">
                <li><a class="text-dark" [href]="['/events/'+ e.eventId]">{{e.name}}</a></li>
            </ul>
        </div>
      </div>
  
      <div class="card border-dark mb-3">
        <div class="card-header bg-dark"><a  class="text-light" [routerLink]="['/events']">Past Events</a></div>
        <div class="card-body">
            <ul *ngFor="let e of pastEvents; let i=index" class="list">
                <li><a class="text-dark" [href]="['/events/'+ e.eventId]">{{e.name}}</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>