<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-md-10 offset-md-1">
            <div style="text-align: justify;">
                <div>
                    <h2>{{blog.title}}</h2>
                </div>
                <div class="text-right" style="float: right;">
                    <div style="font-size: x-small;"><b>Posted : {{blog.posted | date}}</b></div>
                    <div style="font-size: x-small;" *ngIf="blog.posted != blog.edited"><b>Edited : {{blog.edited | date}}</b></div>
                </div>
                <div>
                    <div>
                        <img [src]="blog.imgUrl" class="img img-fluid rounded" style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
                    </div>
                    <div [innerHTML]="blog.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>